$light: #fff;
body {
    margin: 0;
}

.nav {
    border-top: 1px solid #2c7de8;
    .container {
        margin: 0 auto;
        max-width: 1140px;
        padding: 0 15px;
        height: 87px;
        background-color: $light;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav__logo {
            display: block;
        }
        .nav__menu {
            display: flex;
            gap: 40px;
            .link {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 14px;
                font-family: "OpenSans", sans-serif;
                color: rgb(47, 63, 84);
                font-weight: bold;
                text-transform: uppercase;
                line-height: 1.2;
            }
        }
    }
}

.main {
    background-image: url(./img/blue-bg.png);
    display: flex;
    justify-content: center;
    height: 835px;
    .container {
        margin: 0 auto;
        max-width: 1140px;
        padding: 160px 15px 270px 15px;
        display: flex;
        gap: 50px;
        .main__container {
            .small-text {
                font-size: 16px;
                font-family: "Lato";
                color: white;
                line-height: 1.688;
            }
            .main-header {
                font-size: 48px;
                font-family: "Roboto";
                color: white;
                text-transform: uppercase;
                line-height: 1.083;
                font-weight: 900;
            }
            .middle-text {
                font-size: 19px;
                font-family: "Lato";
                color: white;
                font-weight: bold;
                line-height: 2.737;
            }
            .main-list {
                margin-top: 40px;
                & img {
                    width: 14px;
                    height: 14px;
                    margin-right: 10px;
                }
                & li {
                    font-size: 16px;
                    font-family: "Lato";
                    color: white;
                    font-weight: bold;
                    line-height: 1.688;
                    display: flex;
                    align-items: center;
                }
            }
        }
        .start-button {
            width: 228px;
            height: 51px;
            border: 3px solid white;
            border-radius: 24px;
            border-color: white;
            background-color: rgb(38, 122, 233);
            margin: 53px 0 18px 0;
            font-size: 14px;
            font-family: "Lato";
            color: white;
            text-transform: uppercase;
        }
    }
}

.plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 180px auto;
    max-width: 1140px;
    padding: 0 15px;
    
    &__header {
        font-size: 40px;
        font-family: "Roboto";
        color: rgb(47, 63, 84);
        font-weight: bold;
        line-height: 1.25;
        text-align: center;
        margin-bottom: 50px;
    }
    &__text {
        font-size: 14px;
        font-family: "Lato";
        color: rgb(74, 99, 133);
        line-height: 1.714;
        width: 588px;
        text-align: center;
        //height: 60px;
        margin-bottom: 120px;
    }
    &__cards {
        display: flex;
        width: 100%;
        gap: 30px;
        .card {
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
            width: 360px;
            //height: 661px;
            overflow: hidden;
            position: relative;
            .ellipse {
                border-radius: 50%;
                background-color: rgb(38, 122, 233);
                position: absolute;
                // left: 20px;
                left: 5%;
                top: -45%;
                // width: 320px;
                width: 90%;
                height: 445px;
                z-index: auto;
            }
            &__price {
                margin-top: 35px;
                display: block;
                position: relative;
                z-index: 1000;
                font-size: 29px;
                font-family: "Roboto";
                color: rgb(255, 255, 255);
                font-weight: bold;
                line-height: 0.897;
                text-align: center;
            }
            &__main-container {
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: center;
                padding: 0 45px;
                margin-top: 60px;
                .image {
                    // margin-bottom: 45px;
                    height: 180px;
                }
                .card-header {
                    width: 100%;
                    font-size: 31px;
                    font-family: "Roboto";
                    color: rgb(38, 122, 233);
                    font-weight: bold;
                    text-align: left;
                }
                .card-text {
                    margin-top: 30px;
                    font-size: 14px;
                    font-family: "Lato";
                    color: rgb(74, 99, 133);
                    line-height: 1.714;
                    text-align: left;
                }
                .card-list {
                    margin: 60px 0 70px 0;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    font-size: 16px;
                    font-family: "Roboto";
                    color: rgb(74, 99, 133);
                    line-height: 2.25;
                    text-align: left;
                    span {
                        padding-right: 15px;
                    }
                }
            }
            .card-button {
                background-color: #267ae9;
                display: flex;
                width: 100%;
                height: 60px;
                align-items: center;
                justify-content: center;
                font-size: 17px;
                font-family: "Roboto";
                color: rgb(255, 255, 255);
                font-weight: bold;
                line-height: 1.182;
            }
        }
    }
}

.reviews {
    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        max-width: 1140px;
        padding: 0 15px;
    }
    background-color: #fafafa;
    &__header {
        margin-top: 125px;
        font-size: 40px;
        font-family: "Roboto";
        color: rgb(47, 63, 84);
        font-weight: bold;
        line-height: 1.25;
        span {
            color: rgb(38, 122, 233);
        }
    }
    &__container {
        margin-top: 170px;
        display: flex;
        gap: 90px;
        .review-item {
            display: flex;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
        }
        .left-side {
            min-width: 185px;
            background-color: #267ae9;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .right-side {
            padding: 65px 50px 65px 25px;
            display: flex;
            flex-direction: column;
            gap: 35px;
            font-size: 16px;
            font-family: "Lato";
            color: rgb(74, 99, 133);
            line-height: 1.625;
            .review-author {
                font-weight: bold;
                span {
                    color: #267ae9;
                }
            }
        }
    }
    .reviews-bullets {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin: 50px 0 100px 0;
        .bullet {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 3px solid #267ae9;
            background-color: #267ae9;
            &--active {
                background-color: #fff;
            }
        }
    }
}

.companies {
    background-color: #fff;
    &__container {
        margin: 100px auto;
        max-width: 1140px;
        padding: 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.footer-container {
    background-image: url(./img/footer-bg.png);
    background-size: cover;
    width: 100%;
    padding: 0 15px;
    .footer {
        padding: 87px 0 120px 0;
        margin: 100px auto 0 auto;
        max-width: 1140px;
        display: flex;
        justify-content: space-between;
        .footer-subheader {
                font-size: 16px;
                font-family: "Roboto";
                color: rgb(208, 228, 255);
                line-height: 1.2;
                margin-bottom: 35px;
        }
        .footer__info {
            max-width: 260px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            img {
                width: 160px;
            }
            .footer-logo-text {
                    font-size: 13px;
                    font-family: "Lato";
                    color: rgb(113, 141, 178);
                    line-height: 1.7;
            }
        }

        .footer-list {
            display: flex;
            flex-direction: column;
            gap: 15px;
            .footer-link {
                display: block;
                text-decoration: none;
                font-size: 13px;
                    font-family: "Lato";
                    color: rgb(113, 141, 178);
            }
        }

        .footer-form {
            display: flex;
            flex-direction: column;
            gap: 0;
            width: 100%;
            .footer-input {
                padding: 10px;
                border: 1px solid rgba(255, 255, 255, 0.05);
                font-size: 11px;
                font-family: "Lato";
                color: rgb(113, 141, 178);
                line-height: 1.2;
                background: none;
            }
            .footer-textarea {
                max-width: 270px !important;
                min-width: 100%;
            }
        }

        &__quick-contact{
            width: 270px;
            button {
                margin-top: 15px;
                background-color: #2575e7;
                padding: 10px 15px;
                text-transform: uppercase;
                font-size: 13px;
                font-family: "Roboto";
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                line-height: 1.2;
            }
        }
    }
}