body {
  margin: 0;
}

.nav {
  border-top: 1px solid #2c7de8;
}

.nav .container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
  height: 87px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .container .nav__logo {
  display: block;
}

.nav .container .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.nav .container .nav__menu .link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "OpenSans", sans-serif;
  color: #2f3f54;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.main {
  background-image: url(./img/blue-bg.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 835px;
}

.main .container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 160px 15px 270px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.main .container .main__container .small-text {
  font-size: 16px;
  font-family: "Lato";
  color: white;
  line-height: 1.688;
}

.main .container .main__container .main-header {
  font-size: 48px;
  font-family: "Roboto";
  color: white;
  text-transform: uppercase;
  line-height: 1.083;
  font-weight: 900;
}

.main .container .main__container .middle-text {
  font-size: 19px;
  font-family: "Lato";
  color: white;
  font-weight: bold;
  line-height: 2.737;
}

.main .container .main__container .main-list {
  margin-top: 40px;
}

.main .container .main__container .main-list img {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.main .container .main__container .main-list li {
  font-size: 16px;
  font-family: "Lato";
  color: white;
  font-weight: bold;
  line-height: 1.688;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .start-button {
  width: 228px;
  height: 51px;
  border: 3px solid white;
  border-radius: 24px;
  border-color: white;
  background-color: #267ae9;
  margin: 53px 0 18px 0;
  font-size: 14px;
  font-family: "Lato";
  color: white;
  text-transform: uppercase;
}

.plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 180px auto;
  max-width: 1140px;
  padding: 0 15px;
}

.plans__header {
  font-size: 40px;
  font-family: "Roboto";
  color: #2f3f54;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 50px;
}

.plans__text {
  font-size: 14px;
  font-family: "Lato";
  color: #4a6385;
  line-height: 1.714;
  width: 588px;
  text-align: center;
  margin-bottom: 120px;
}

.plans__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 30px;
}

.plans__cards .card {
  background-color: white;
  -webkit-box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
          box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
  width: 360px;
  overflow: hidden;
  position: relative;
}

.plans__cards .card .ellipse {
  border-radius: 50%;
  background-color: #267ae9;
  position: absolute;
  left: 5%;
  top: -45%;
  width: 90%;
  height: 445px;
  z-index: auto;
}

.plans__cards .card__price {
  margin-top: 35px;
  display: block;
  position: relative;
  z-index: 1000;
  font-size: 29px;
  font-family: "Roboto";
  color: white;
  font-weight: bold;
  line-height: 0.897;
  text-align: center;
}

.plans__cards .card__main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 45px;
  margin-top: 60px;
}

.plans__cards .card__main-container .image {
  height: 180px;
}

.plans__cards .card__main-container .card-header {
  width: 100%;
  font-size: 31px;
  font-family: "Roboto";
  color: #267ae9;
  font-weight: bold;
  text-align: left;
}

.plans__cards .card__main-container .card-text {
  margin-top: 30px;
  font-size: 14px;
  font-family: "Lato";
  color: #4a6385;
  line-height: 1.714;
  text-align: left;
}

.plans__cards .card__main-container .card-list {
  margin: 60px 0 70px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 16px;
  font-family: "Roboto";
  color: #4a6385;
  line-height: 2.25;
  text-align: left;
}

.plans__cards .card__main-container .card-list span {
  padding-right: 15px;
}

.plans__cards .card .card-button {
  background-color: #267ae9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
  font-family: "Roboto";
  color: white;
  font-weight: bold;
  line-height: 1.182;
}

.reviews {
  background-color: #fafafa;
}

.reviews__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
}

.reviews__header {
  margin-top: 125px;
  font-size: 40px;
  font-family: "Roboto";
  color: #2f3f54;
  font-weight: bold;
  line-height: 1.25;
}

.reviews__header span {
  color: #267ae9;
}

.reviews__container {
  margin-top: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
}

.reviews__container .review-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
          box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
}

.reviews__container .left-side {
  min-width: 185px;
  background-color: #267ae9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__container .right-side {
  padding: 65px 50px 65px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
  font-size: 16px;
  font-family: "Lato";
  color: #4a6385;
  line-height: 1.625;
}

.reviews__container .right-side .review-author {
  font-weight: bold;
}

.reviews__container .right-side .review-author span {
  color: #267ae9;
}

.reviews .reviews-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  margin: 50px 0 100px 0;
}

.reviews .reviews-bullets .bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid #267ae9;
  background-color: #267ae9;
}

.reviews .reviews-bullets .bullet--active {
  background-color: #fff;
}

.companies {
  background-color: #fff;
}

.companies__container {
  margin: 100px auto;
  max-width: 1140px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container {
  background-image: url(./img/footer-bg.png);
  background-size: cover;
  width: 100%;
  padding: 0 15px;
}

.footer-container .footer {
  padding: 87px 0 120px 0;
  margin: 100px auto 0 auto;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container .footer .footer-subheader {
  font-size: 16px;
  font-family: "Roboto";
  color: #d0e4ff;
  line-height: 1.2;
  margin-bottom: 35px;
}

.footer-container .footer .footer__info {
  max-width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.footer-container .footer .footer__info img {
  width: 160px;
}

.footer-container .footer .footer__info .footer-logo-text {
  font-size: 13px;
  font-family: "Lato";
  color: #718db2;
  line-height: 1.7;
}

.footer-container .footer .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.footer-container .footer .footer-list .footer-link {
  display: block;
  text-decoration: none;
  font-size: 13px;
  font-family: "Lato";
  color: #718db2;
}

.footer-container .footer .footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
  width: 100%;
}

.footer-container .footer .footer-form .footer-input {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  font-size: 11px;
  font-family: "Lato";
  color: #718db2;
  line-height: 1.2;
  background: none;
}

.footer-container .footer .footer-form .footer-textarea {
  max-width: 270px !important;
  min-width: 100%;
}

.footer-container .footer__quick-contact {
  width: 270px;
}

.footer-container .footer__quick-contact button {
  margin-top: 15px;
  background-color: #2575e7;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Roboto";
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
}
/*# sourceMappingURL=style.css.map */